<a href="https://colab.research.google.com/github/NatashaKamami/Python-Data-Analysis/blob/main/Merge_HousingMarket.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows:
1. The first a random number from 1 to 4
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [ ]:
# Create the Series with random data
bedrooms = np.random.randint(1, 5, size=100)  # Random numbers from 1 to 4
bathrooms = np.random.randint(1, 4, size=100)  # Random numbers from 1 to 3
price_sqr_meter = np.random.randint(10000, 30001, size=100)  # Random numbers from 10,000 to 30,000

### Step 3. Let's create a DataFrame by joinning the Series by column

In [ ]:
# Create the DataFrame
housing_data = pd.DataFrame({
    'bedrooms': bedrooms,
    'bathrooms': bathrooms,
    'price_sqr_meter': price_sqr_meter
})

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [ ]:
# Rename the columns
housing_data.columns = ['bedrs', 'bathrs', 'price_sqr_meter']

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [ ]:
# Create a one-column DataFrame
bigcolumn = pd.DataFrame(housing_data.values.flatten(), columns=['value'])

### Step 6. Oops, it seems it is going only until index 99. Is it true?

In [ ]:
# Check the index of bigcolumn
print(bigcolumn.index)

RangeIndex(start=0, stop=300, step=1)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [ ]:
# Reindexing is not necessary since it is already from 0 to 299.
# However, if you want to ensure it is correctly indexed:
bigcolumn = bigcolumn.reset_index(drop=True)