<a href="https://colab.research.google.com/github/NatashaKamami/Python-Data-Analysis/blob/main/Stats_USBabyNames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [ ]:
baby_names = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')

### Step 4. See the first 10 entries

In [ ]:
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [ ]:
baby_names.drop(columns=['Unnamed: 0', "Id"], inplace=True)
baby_names.columns

Index(['Name', 'Year', 'Gender', 'State', 'Count'], dtype='object')

### Step 6. Is there more male or female names in the dataset?

In [ ]:
gender_counts = baby_names['Gender'].value_counts()
more_gender = 'Male' if gender_counts['M'] > gender_counts['F'] else 'Female'
more_gender

'Female'

### Step 7. Group the dataset by name and assign to names

In [ ]:
names = baby_names.groupby('Name').sum(numeric_only=True)
names

           Year  Count
Name
Aaban      4027     12
Aadan      8039     23
Aadarsh    2009      5
Aaden    393963   3426
Aadhav     2014      6
...         ...    ...
Zyra      14085     42
Zyrah      4024     11
Zyren      2013      6
Zyria     20089     59
Zyriah    18087     58

[17632 rows x 2 columns]

### Step 8. How many different names exist in the dataset?

In [ ]:
names.nunique()

17632

### Step 9. What is the name with most occurrences?

In [ ]:
names['Count'].idxmax()

'Jacob'

### Step 10. How many different names have the least occurrences?

In [ ]:
least_occurrence_count = names['Count'].min()
num_least_occurrences = names[names['Count'] == least_occurrence_count].shape[0]
num_least_occurrences

2578

### Step 11. What is the median name occurrence?

In [ ]:
names['Count'].median()

49.0

### Step 12. What is the standard deviation of names?

In [ ]:
names['Count'].std()

11006.069467891111

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [ ]:
names['Count'].describe()

count     17632.000000
mean       2008.932169
std       11006.069468
min           5.000000
25%          11.000000
50%          49.000000
75%         337.000000
max      242874.000000
Name: Count, dtype: float64