<a href="https://colab.research.google.com/github/NatashaKamami/Python-Data-Analysis/blob/main/Filtering%26Sorting_chipotle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [ ]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

### Step 4. How many products cost more than $10.00?

In [ ]:
# Convert the item_price to a float by removing the dollar sign and converting to float
chipo['item_price'] = chipo['item_price'].replace({'\$':'', '':'0'}, regex=True).astype(float)

# Count the number of items costing more than $10.00
expensive_items_count = (chipo['item_price'] > 10).sum()
print(expensive_items_count)

1130

### Step 5. What is the price of each item?
###### print a data frame with only two columns item_name and item_price

In [ ]:
item_price_df = chipo[['item_name', 'item_price']]
print(item_price_df)

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [ ]:
sorted_items = item_price_df.sort_values(by='item_name')
print(sorted_items)

              item_name  item_price
3389  6 Pack Soft Drink       12.98
341   6 Pack Soft Drink        6.49
1849  6 Pack Soft Drink        6.49
1860  6 Pack Soft Drink        6.49
2713  6 Pack Soft Drink        6.49
...                 ...         ...
2384  Veggie Soft Tacos        8.75
781   Veggie Soft Tacos        8.75
2851  Veggie Soft Tacos        8.49
1699  Veggie Soft Tacos       11.25
1395  Veggie Soft Tacos        8.49

[4622 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [ ]:
# Find the maximum price
max_price = chipo['item_price'].max()

# Find the quantity of the most expensive item ordered
most_expensive_item_quantity = chipo[chipo['item_price'] == max_price]['quantity'].max()
print(most_expensive_item_quantity)

15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [ ]:
veggie_salad_orders = chipo[chipo['item_name'] == 'Veggie Salad Bowl']['quantity'].sum()
print(veggie_salad_orders)

18

### Step 9. How many times did someone order more than one Canned Soda?

In [ ]:
canned_soda_orders = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)].shape[0]
print(canned_soda_orders)

20