<a href="https://colab.research.google.com/github/NatashaKamami/Python-Data-Analysis/blob/main/Merge_AutoMPG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [ ]:
url1 = "/content/cars1.csv"
url2 = "/content/cars2.csv"

cars1 = pd.read_csv(url1)
cars2 = pd.read_csv(url2)

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [ ]:
# Remove unnamed columns
cars1 = cars1.loc[:, ~cars1.columns.str.contains('^Unnamed')]

### Step 5. What is the number of observations in each dataset?

In [ ]:
num_observations_cars1 = cars1.shape[0]  # Number of rows in cars1
num_observations_cars2 = cars2.shape[0]  # Number of rows in cars2

print("Number of observations in cars1:", num_observations_cars1)
print("Number of observations in cars2:", num_observations_cars2)

Number of observations in cars1: 198
Number of observations in cars2: 200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [ ]:
cars = pd.concat([cars1, cars2], ignore_index=True)
print(cars)

      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    18.0          8           307        130    3504          12.0     70
1    15.0          8           350        165    3693          11.5     70
2    18.0          8           318        150    3436          11.0     70
3    16.0          8           304        150    3433          12.0     70
4    17.0          8           302        140    3449          10.5     70
..    ...        ...           ...        ...     ...           ...    ...
393  27.0          4           140         86    2790          15.6     82
394  44.0          4            97         52    2130          24.6     82
395  32.0          4           135         84    2295          11.6     82
396  28.0          4           120         79    2625          18.6     82
397  31.0          4           119         82    2720          19.4     82

     origin                        car
0         1  chevrolet chevelle malibu
1         1          buick skylark 320
2         1         plymouth satellite
3         1              amc rebel sst
4         1                ford torino
..      ...                        ...
393       1            ford mustang gl
394       2                  vw pickup
395       1              dodge rampage
396       1                ford ranger
397       1                 chevy s-10

[398 rows x 9 columns]

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [ ]:
import numpy as np

# Create a random number Series from 15,000 to 73,000
owners = np.random.randint(15000, 73000, size=cars.shape[0])

### Step 8. Add the column owners to cars

In [ ]:
cars['owners'] = owners
print(cars)

      mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0    18.0          8           307        130    3504          12.0     70
1    15.0          8           350        165    3693          11.5     70
2    18.0          8           318        150    3436          11.0     70
3    16.0          8           304        150    3433          12.0     70
4    17.0          8           302        140    3449          10.5     70
..    ...        ...           ...        ...     ...           ...    ...
393  27.0          4           140         86    2790          15.6     82
394  44.0          4            97         52    2130          24.6     82
395  32.0          4           135         84    2295          11.6     82
396  28.0          4           120         79    2625          18.6     82
397  31.0          4           119         82    2720          19.4     82

     origin                        car  owners
0         1  chevrolet chevelle malibu   63578
1         1          buick skylark 320   59999
2         1         plymouth satellite   21596
3         1              amc rebel sst   34817
4         1                ford torino   39758
..      ...                        ...     ...
393       1            ford mustang gl   63140
394       2                  vw pickup   51050
395       1              dodge rampage   41512
396       1                ford ranger   44330
397       1                 chevy s-10   32268

[398 rows x 10 columns]